/**
Rename this file to "config.js" and place in the root of the application directory.
Any properties you add to the "dev" or "prod" will override the "default" launch configuration.
**/
var config={
    "default":{
        "db":{
            "hostname": "your-host.goes.here.com",
            "username": "username",
            "password": "password"
        }
        "secretkey": "yourcookiesecretgoeshere"
    },
    "dev":{
        "port": 8081
    },
    "prod":{
        "port": 8080
    }
};

module.exports = config;